<!doctype html>
<html>

<head>
    <title>NGV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <script src="angular.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <!--<script type="text/javascript" src="zingchart-angularjs/src/zingchart.min.js"></script>-->
    <script type="text/javascript" src="zingchart-angularjs/src/zingchart-angularjs.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src = "app.js"></script>
		    <script src="services/direct-loans.service.js"></script>
    <!--<script src="directives/yep-nope.directive.js"></script>
    <script src="services/github-status.service.js"></script>
    <script src="controllers/dashboard.controller.js"></script>-->
    <!--<script src="controllers/chart.controller.js"></script>-->
    <!--<script src="directives/chart.directive.js"></script>-->
    <script src="vendor.bundle.js"></script>
    <script src="app.bundle.js"></script>
</head>

<body ng-app="main">
    <div class="container">
        <br />
        <h1>Congratulations, you've been awarded a financial aid package!</h1>
        <p>Please choose from the following loans:</p>
        <div ng-controller="loanCtrl">
            <form name="myForm">
                <label>
                    Loan Amount:
                    <input type="text" name="userName" ng-model="loanAmt" required>
                    </label>
                <div role="alert">
                    <span class="error" ng-show="myForm.userName.$error.required">
                    Required!</span>
                </div>

                <label for="singleSelect"> Interest Rates: </label><br>
								<select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
										<option value="">---Please select---</option> <!-- not selected / blank option -->
										<option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
										<option value="option-sub">Option 2</option>
										<option value="option-unsub">Option 2</option>
										<option value="option-bank">Private Bank: 4.2%</option>
										<option value="option-uni">University: 4.0%</option>
								</select>
								<br />

                <label>
                    Loan Period:
                    <input type="text" name="userName" ng-model="user.name" required> in months
                    </label>
                <div role="alert">
                    <span class="error" ng-show="myForm.userName.$error.required">
                    Required!</span>
                </div>
            </form>
        </div>
        <div ng-controller="chartCtrl">
            <div>
                <h1>{{test}}</h1>
                <ul>
                    <li ng-repeat='month in months'>{{ month.name }}</li>
                </ul>
            </div>
            <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="568px"></div>
        </div>
        <!--</div>-->
        <div ng-init="checked=false">
            <label>
                <input type="checkbox" ng-model="checked" />
                Please choose the following loans:
            </label>
            <div class="content-area sample-show-hide" ng-show="checked">
                Content...
            </div>
        </div>
    </div>
</body>

</html>
